html {
  color-scheme: light dark;
  color: black;
  background-color: rgb(183, 202, 236);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
html,
body {
  margin: 0;
}
body {
  padding-inline: 2rem;
}
.page {
  max-inline-size: 40rem;
  margin-inline: auto;
}
.buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  isolation: isolate;
}
.link-button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  background-color: hsl(219, 56%, 72%);
  border: 0.3em solid rgb(183, 202, 236);
  text-decoration: none;
  color: black;
  border-radius: 2em;
  transition:
    250ms ease background-color,
    250ms ease transform;
  position: relative;
}
.link-button-gh {
  z-index: 1;
}
.logo {
  display: block;
  width: 1.5em;
  height: 1.5em;
}
.link-button:hover {
  background-color: hsl(219, 67%, 70%);
  transform: scale(1.1);
}
.link-button:hover .star-gh {
  visibility: visible;
}
.star-gh {
  visibility: hidden;
  box-sizing: border-box;
  font-weight: bold;

  position: absolute;
  top: calc(100% + 0.8em);
  left: 0;
  right: 0;

  padding: 0.5em;
  border-radius: 0.5em;

  color: white;
  background-color: rgb(0, 27, 78);
  inline-size: fit-content;
  margin-inline: auto;
}
.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 0.8em solid transparent;
  border-top: 0 solid transparent;
  border-bottom-color: rgb(0, 27, 78);

  bottom: calc(100% - 0.2em);
  left: calc(50% - 0.1em);
  right: calc(50% - 0.1em);
}
.star-emoji {
  border-radius: 100%;
  margin-inline-end: 0.5em;
  position: relative;
  isolation: isolate;
}
.star-emoji::before {
  content: '';
  display: none;
  z-index: -1;
  position: absolute;
  inset: -0.3em;
  border-radius: 100%;
  background-color: rgb(0, 27, 78);
  filter: blur(4px);
}
ul {
  list-style-type: none;
  padding: 0;
  margin-block: 1rem;
}
li {
  background-color: rgb(155, 181, 228);
  margin-block-end: 1rem;
  border-radius: 1rem;
  border: 0.2em solid rgb(183, 202, 236);
  transition:
    250ms ease background-color,
    250ms ease transform;
}
li::marker {
  font-weight: bold;
}
.link-wrapper {
  display: block;
}
ul a {
  display: grid;
  height: 2em;
  padding-inline: 1rem;
  align-content: center;
}
li:has(a:hover),
li:focus-within {
  background-color: rgb(99, 143, 224);
  transform: scale(1.1);
}
footer {
  margin-block-start: 2rem;
}
footer small {
  color: rgb(94, 94, 94);
}
.light-mode {
  display: block;
}
.dark-mode {
  display: none;
}
@media screen and (prefers-color-scheme: dark) {
  html {
    color: white;
    background-color: rgb(0, 27, 78);
  }
  .dark-mode {
    display: block;
  }
  .light-mode {
    display: none;
  }
  .star-gh {
    color: black;
    background-color: rgb(183, 202, 236);
  }
  .arrow {
    border-bottom-color: rgb(183, 202, 236);
  }
  .star-emoji::before {
    display: block;
  }
  .link-button {
    background-color: hsl(220, 100%, 8%);
    color: white;
    border: 0.3em solid rgb(41, 57, 87);
  }
  .link-button:hover {
    background-color: rgb(0, 40, 114);
  }
  li {
    background-color: rgb(0, 12, 34);
    border-color: rgb(41, 57, 87);
  }
  li:has(a:hover),
  li:focus-within {
    background-color: rgb(0, 40, 114);
  }
  footer small {
    color: rgb(185, 185, 185);
  }
}
