html {
  color-scheme: light dark;
  color: black;
  background-color: rgb(183, 202, 236);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
html,
body {
  margin: 0;
}
body {
  padding-inline: 2rem;
}
.page {
  max-inline-size: 40rem;
  margin-inline: auto;
}
.buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
.link-button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  background-color: hsl(219, 56%, 72%);
  border: 0.3em solid rgb(183, 202, 236);
  text-decoration: none;
  color: black;
  border-radius: 2em;
  transition:
    250ms ease background-color,
    250ms ease transform;
}
.logo {
  display: block;
  width: 1.5em;
  height: 1.5em;
}
.link-button:hover {
  background-color: hsl(219, 67%, 70%);
  transform: scale(1.1);
}
ul {
  list-style-type: none;
  padding: 0;
  margin-block: 1rem;
}
li {
  background-color: rgb(155, 181, 228);
  margin-block-end: 1rem;
  border-radius: 1rem;
  border: 0.2em solid rgb(183, 202, 236);
  transition:
    250ms ease background-color,
    250ms ease transform;
}
li::marker {
  font-weight: bold;
}
.link-wrapper {
  display: block;
}
ul a {
  display: grid;
  height: 2em;
  padding-inline: 1rem;
  align-content: center;
}
li:has(a:hover),
li:focus-within {
  background-color: rgb(99, 143, 224);
  transform: scale(1.1);
}
footer {
  margin-block-start: 2rem;
}
footer small {
  color: rgb(94, 94, 94);
}
.light-mode {
  display: block;
}
.dark-mode {
  display: none;
}
@media screen and (prefers-color-scheme: dark) {
  html {
    color: white;
    background-color: rgb(0, 27, 78);
  }
  .dark-mode {
    display: block;
  }
  .light-mode {
    display: none;
  }
  .link-button {
    background-color: hsl(220, 100%, 8%);
    color: white;
    border: 0.3em solid rgb(41, 57, 87);
  }
  .link-button:hover {
    background-color: rgb(0, 40, 114);
  }
  li {
    background-color: rgb(0, 12, 34);
    border-color: rgb(41, 57, 87);
  }
  li:has(a:hover),
  li:focus-within {
    background-color: rgb(0, 40, 114);
  }
  footer small {
    color: rgb(185, 185, 185);
  }
}
